// Шрифт Roboto
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
        url('../../fonts/Roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'),
        url('../../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('../../fonts/Roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'),
        url('../../fonts/Roboto/Roboto-Black.woff2') format('woff2'),
        url('../../fonts/Roboto/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'),
        url('../../fonts/Roboto/Roboto-Thin.woff2') format('woff2'),
        url('../../fonts/Roboto/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'),
        url('../../fonts/Roboto/Roboto-Light.woff2') format('woff2'),
        url('../../fonts/Roboto/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

// Шрифт Circle
@font-face {
    font-family: 'Circe';
    src: local('Circe Bold'), local('Circe-Bold'),
        url('../../fonts/Circe/Circe-Bold.woff2') format('woff2'),
        url('../../fonts/Circe/Circe-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

// Шрифт Euclid
@font-face {
    font-family: 'Euclid Circular A';
    src: local('Euclid Circular A Bold'), local('EuclidCircularA-Bold'),
        url('../../fonts/Euclid/EuclidCircularA-Bold.woff2') format('woff2'),
        url('../../fonts/Euclid/EuclidCircularA-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: local('Euclid Circular A Light'), local('EuclidCircularA-Light'),
        url('../../fonts/Euclid/EuclidCircularA-Light.woff2') format('woff2'),
        url('../../fonts/Euclid/EuclidCircularA-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: local('Euclid Circular A SemiBold'), local('EuclidCircularA-SemiBold'),
        url('../../fonts/Euclid/EuclidCircularA-SemiBold.woff2') format('woff2'),
        url('../../fonts/Euclid/EuclidCircularA-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

// Шрифт Rubik
@font-face {
    font-family: 'Rubik One';
    src: local('Rubik One Regular'), local('RubikOne-Regular'),
        url('RubikOne-Regular.woff2') format('woff2'),
        url('RubikOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}