.slider {
    display: flex;
    position: relative;
    padding: 123px 0 0 0;
    background-color: #F2F2F2;
    max-width: 1920px;
    margin: 0 auto;

    &__info {
        background: url(../../img/slider/bc-block.png) top no-repeat;
    }

    &__btn{
        cursor: pointer;
        right: 359px;
        bottom: 217px;
        position: absolute;
    }

    &__btn:hover{
        opacity: .7;
    }
}

.info-slider{
    width: 510px;
    display: flex;
    align-items: center;

    &__title{
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 25px;
        color: #292D32;
        line-height: 1.2;
        padding-left: 40px;
    }
}

.swiper {
    width: 1150px;
    height: 683px;
    margin-right: 0 !important;
}

.swiper-pagination {
    top: 444px !important;
    left: 528px !important;
}

.swiper-pagination-bullet-active {
    background-color: #292D32 !important;
}